src/main/resources/schemas/mt940.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="MT940">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="line20">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="reference"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="line25">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="account"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="line28C">

                </xs:element>
                <xs:element name="line60F">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="creditDebit"/>
                            <xs:element type="xs:int" name="date"/>
                            <xs:element type="xs:string" name="currency"/>
                            <xs:element type="xs:string" name="amount"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="statements">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="line62F">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="creditDebit"/>
                            <xs:element type="xs:int" name="date"/>
                            <xs:element type="xs:string" name="currency"/>
                            <xs:element type="xs:string" name="amount"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>